.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}

.nav li {
    padding: .4rem 0;
    cursor: pointer;
    font-size: 1.1rem;
    width: 25%;
    flex-basis: 25%;
    text-align: center;
    /* background: rgb(60, 55, 171); */
    color: #202020;
}

.nav li span {
    font-size: .8rem;
    margin-top: .3rem;
    display: block;
}